/*
	AnythingSlider v1.5.10+ Default (base) theme
	By Chris Coyier: http://css-tricks.com
	with major improvements by Doug Neiner: http://pixelgraphics.us/
	based on work by Remy Sharp: http://jqueryfordesigners.com/
*/

/******* SET DEFAULT DIMENSIONS HERE ********/
div.anythingSlider {
	display: block;
	width: 700px;
	height: 390px;
	margin: 0 auto;
	overflow: hidden; /* needed for Opera and Safari */
}

/****** SET COLORS HERE *******/
/* Default State */
div.anythingSlider {
	color: #333;
	font: normal 0.95em Helvetica, Arial, Verdana, sans-serif;
	font-weight:bold;
	background: #777;
}
div.anythingSlider .start-stop {
	background-color: #040;
	color: #fff;
}
div.anythingSlider .start-stop.playing {
	background-color: #800;
}
div.anythingSlider .start-stop:hover, div.anythingSlider .start-stop.hover {
	color: #ddd;
}

/* Active State 
div.anythingSlider.activeSlider .anythingWindow {
	margin-top: 40px;
}*/
div.anythingSlider.activeSlider {
	background-color: #FFF;
}
div.anythingSlider .start-stop {
	background-color: #080;
	color: #fff;
}
div.anythingSlider .start-stop.playing {
	background-color: #d00;
}
div.anythingSlider .start-stop:hover, div.anythingSlider .start-stop.hover {
	color: #fff;
}

/**** DO NOT CHANGE BELOW THIS LINE ****/
/* anythingSlider viewport window */
div.anythingSlider .anythingWindow {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
}
/* wrapper: 45px right & left padding for the arrows, 28px @ bottom for navigation */
div.anythingSlider {
	position: relative;
	padding: 0 45px 78px 45px;
}
/* anythingSlider base */
.anythingBase {
	background: transparent;
	list-style: none;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}
.anythingBase .panel {
	background: transparent;
	display: block;
	overflow: hidden;
	float: left;
	padding: 0;
	margin: 0;
}

/* Navigation Arrows */
div.anythingSlider .arrow {
	top: 50%;
	position: absolute;
	display: block;
}
div.anythingSlider .arrow a {
	display: block;
	height: 120px;
	margin: -60px 0 0 0; /* half height of image */
	width: 45px;
	text-align: center;
	outline: 0;
	background: url(../pnimages/arrows-default.png) no-repeat;
}
div.anythingSlider .arrow a span { display: block; text-indent: -9999px; }
div.anythingSlider .forward { right: 0; }
div.anythingSlider .back { left: 0; }
div.anythingSlider .forward a { background-position: 0 -40px; }
div.anythingSlider .back a { background-position: -88px -40px; }
div.anythingSlider .forward a:hover, div.anythingSlider .forward a.hover { background-position: 0 -240px; }
div.anythingSlider .back a:hover, div.anythingSlider .back a.hover { background-position: -88px -240px; }
div.anythingSlider .forward.disabled { display: none; } /* disabled arrows, hide or reduce opacity: opacity: .5; filter: alpha(opacity=50); */
div.anythingSlider .back.disabled { display: none; }

/* Navigation Links */
div.anythingSlider .anythingControls { outline: 0; display: block; position: absolute; top: 0px; }
}

div.anythingSlider, div.anythingSlider .anythingWindow, div.anythingSlider .thumbNav a, div.anythingSlider .arrow a, div.anythingSlider .start-stop {
	transition-duration: 0;
	-o-transition-duration: 0;
	-moz-transition-duration: 0;
	-webkit-transition-duration: 0;
}

/* Hide useless elements in print layouts... */
@media print {
.thumbNav {
display: none;
}
}

/* Skin */
.thumbNav {
height: 20px;
list-style: none;
margin: 0;
padding: 0px;
}
.thumbNav:after { /* clearing without presentational markup, IE gets extra treatment */
display: block;
clear: both;
content: " ";
}
.thumbNav li {
float: left;
margin: 0 4px 4px 0;
min-width: 84px; /* be nice to Opera */
}
.thumbNav a, .thumbNav a span {
display: block;
padding: 0 10px;
background: url(tab2.png) no-repeat;
}
.thumbNav a {
position: relative;
top: 1px;
z-index: 2;
padding-left: 0;
color: #666;
font-size: 11px;
font-weight: normal;
line-height: 1.2;
text-align: center;
text-decoration: none;
white-space: nowrap; /* required in IE 6 */    
}
.thumbNav a.cur{
color: #0093d0;
}
.thumbNav a.cur, .thumbNav a:hover, .thumbNav a:focus, .thumbNav a:active {
/*background-position: 100% -150px;*/
background-position: 100% -63px;
outline: 0; /* prevent dotted border in Firefox */
}
/* ---------------------------------------- Tabs OFF BG LEFT */
.thumbNav a, .thumbNav .tabs-disabled a:hover, .thumbNav .tabs-disabled a:focus, .thumbNav .tabs-disabled a:active {
/*background-position: 100% -100px;*/
background-position: 100% -42px;
}
.thumbNav a span {
width: 64px; /* IE 6 treats width as min-width */
min-width: 64px;
height: 15px; /* IE 6 treats height as min-height */
min-height: 15px;
padding-top: 4px;
padding-right: 0;
}
*>.thumbNav a span { /* hide from IE 6 */
width: auto;
height: auto;
}

/* ---------------------------------------- Tabs On BG LEFT */
.thumbNav a.cur span, .thumbNav a:hover span, .thumbNav a:focus span, .thumbNav a:active span {
/*background-position: 0 -50px;*/
background-position: 0 -21px;
}
.thumbNav a span, .thumbNav .tabs-disabled a:hover span, .thumbNav .tabs-disabled a:focus span, .thumbNav .tabs-disabled a:active span {
background-position: 0 0;
}
.thumbNav a.cur:link, .thumbNav a.cur:visited, .thumbNav .tabs-disabled a:link, .thumbNav .tabs-disabled a:visited { /* @ Opera, use pseudo classes otherwise it confuses cursor... */
cursor: text;
}
.thumbNav a:hover, .thumbNav a:focus, .thumbNav a:active { /* @ Opera, we need to be explicit again here now... */
cursor: pointer;
}
.thumbNav .tabs-disabled {
opacity: .4;
}